In [6]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

import pandas as pd

df = [4, 8, 15, 16, 23, 42]
series = pd.Series(df)

print(df)
print(series)

[4, 8, 15, 16, 23, 42]
0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [7]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

import pandas as pd

df1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(df1)

print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [8]:
#Q3. Create a Pandas DataFrame that contains the following data:

import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a two-dimensional labeled data structure that represents tabular data, similar to a spreadsheet or a SQL table. It consists of rows and columns, where each column can contain different data types (e.g., integers, floats, strings), and each column has a label or column name. A DataFrame provides a convenient way to store, manipulate, and analyze data.

In [9]:
#example :- 

import pandas as pd

# Creating a DataFrame
data = {'Numbers': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
print(df)

   Numbers
0       10
1       20
2       30
3       40
4       50

In [12]:
#Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of thesfunctions?

#1)head() and tail(): These functions allow you to view the first few rows (head()) or the last few rows (tail()) of a DataFrame. They are useful for quickly inspecting the structure and content of the data.

import pandas as pd 
df = pd.read_csv("services.csv")
df.head(3)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN

In [13]:
df.tail(3)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [ ]:
#info(): This function provides a summary of the DataFrame, including the data types, non-null values, and memory usage. It is helpful for understanding the composition of the DataFrame

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       23 non-null     int64
 1   location_id              23 non-null     int64
 2   program_id               0 non-null      float64
 3   accepted_payments        1 non-null      object
 4   alternate_name           1 non-null      object
 5   application_process      23 non-null     object
 6   audience                 14 non-null     object
 7   description              23 non-null     object
 8   eligibility              21 non-null     object
 9   email                    1 non-null      object
 10  fees                     21 non-null     object
 11  funding_sources          21 non-null     object
 12  interpretation_services  1 non-null      object
 13  keywords                 21 non-null     object
 14  languages                1 non-null      object
 15  name                     23 non-null     object
 16  required_documents       1 non-null      object
 17  service_areas            21 non-null     object
 18  status                   23 non-null     object
 19  wait_time                19 non-null     object
 20  website                  2 non-null      object
 21  taxonomy_ids             1 non-null      object
dtypes: float64(1), int64(2), object(19)
memory usage: 4.1+ KB

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Among the options provided (Series, DataFrame, Panel), both Series and DataFrame are mutable in nature, while Panel is not.

Series: A Series in Pandas is mutable, which means you can modify its values, reassign values to specific indices, and perform in-place operations that alter the data within the Series.

DataFrame: Similarly, a DataFrame is mutable. You can modify its values, add or remove columns, update rows, and perform various manipulations on the DataFrame.

Panel: However, Panel is not mutable. Panels were a data structure in older versions of Pandas that provided a way to handle three-dimensional data. However, they have been deprecated since version 0.20.1, and the preferred approach is to use other data structures like MultiIndex DataFrames or 3D NumPy arrays.

In [ ]:
#Q7. Create a DataFrame using multiple Series. Explain with an example.

import pandas as pd

# Creating Series objects
name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])

# Creating a DataFrame using the Series
data = {
    'Name': name_series,
    'Age': age_series,
    'Gender': gender_series
}
df = pd.DataFrame(data)

# Printing the DataFrame
print(df)